body
{
    background-color: #dedede;
    font-size: 20px;
    margin: 0 auto;
    padding: 0px;
}

.nawigacja
{
     background: rgba(19, 16, 16, 0.7);
    
    margin-left: auto;
    margin-right: auto;
    
    
}

.nawigacja1
{
 margin: 0 auto;
  display: table;
}


ul li
{
  padding-right: 20px;
    letter-spacing: 2px;
    font-size: 1em;
    color: #ffffff;
    font-family: 'Work Sans', sans-serif;
    
}


#dupa:hover
{
    color: #CDCDCD;
}

#dupa1:hover
{
    color: #CDCDCD;
}
#dupa1
{
    color: white;
}
#dupa
{
    color:blueviolet;
}

.jumb
{
 background-image: url(img/5788.jpg);
    background-size: cover;
    height: 100%;
    text-align: center;
    color: white;
    padding-top: 100px;
    
}

.jubutton:hover
{
background-color: #CDCDCD;
    border: 2px solid blueviolet;
    color: black;
}

.jubutton:active
{
    top: 5px;
}


.jubutton
{
    margin-bottom: 100px;
    margin-top: 50px;
    border-radius: 50px;
    background-color: blueviolet;
    border: 2px solid white;
    width: 20%;  
}

.przycisk
{
    width: 25%;
    border: 5px solid black;
    opacity: 0.3;
    background-color: aqua;
    
}

.h1head
{
    font-size: 100px;
    font-weight: 500;
    color: white;
}

#zdj
{
    width: 75%;
    height: 75%;
   
    border-radius: 10px;
    border: 2px solid black;
}

.gkont
{
    height: 100%;
    text-align: center;
    
    
}

.gkont .row
{
    margin-top: 50px;
}

.kont
{
    margin-top: 100px;
    text-align: center;
    margin-bottom: 70px;
}

.container-fluid
{
    margin: 0 auto;
    
}


.kont2
{
    height: 100%;
    padding-bottom: 0;
    border-bottom: 5px solid black;
    
   
    
    
}

.row3
{
    text-align: center;
    background-image: url(img/mac.jpg); /*<a href="http://www.freepik.com/free-photo/dark-abstract-texture_985069.htm">Designed by Freepik</a>*/
    height: 100%;
    border-top: 5px solid black;
    background-attachment: fixed;
}

.klasa2
{
    margin-top: 50px;
    text-align: center;
}

#h3n
{
    padding: 30px;
    font-size: 2em;
    font-weight: 700;
}

.klasa2 ul li
{
 color: white;
    line-height: 71px;
    text-align: left;
    letter-spacing: 2px;
    font-weight: 500;

}
.klasa2 ul li
{
    text-align: center;
    list-style-position: inside;
}
.klasa2 ul
{
    margin-top: 2%;
}

#foto10
{
  margin-top: 50px;  
}

#foto11
{
  width: 80%;
     
}

#foto12
{
    margin-top: 20px;
    margin-bottom: 100px;
    font-size: 1.5em;
    font-weight: 600;
    margin-left: 15%;
    margin-right: 15%;
}

.kont3
{
    height: 600px;
    padding-top: 0;
    
}

.row5
{
    border-right-color: #dedede;
    height: 100%;
    background-size: cover;
    border-top: 6px solid black;
    
}

.jubutton2:hover
{
   background: none;
    color: black;
    border: 2px solid black;
}
.jubutton2 {
    width: 25%;
    border: 2px solid white;
    border-radius: 0px;
    background:none;
    margin-top: 50px;
    margin-bottom: 150px;
    font-size: 1.5em;
        font-family: 'Lato', sans-serif;
    
}

@media (max-width: 800px) and (min-width: 100px) {
.jubutton2 {width:90%;}
    .jubutton{width: 90%;}
    .zapraszam{font-size: 1em;}
}

.zapraszam {
    font-size: 3em;
    color: white;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 100px;
    margin-bottom: 50px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.phead {
    padding: 30px;
}

.podkreslenie {
    width: 60%;
    color: #dedede;
    border: 1px solid;
    border-radius: 30px;
    
    
}

.card {
   width: 85%; 
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    background: none;
}



.przycisk3 {
    background-color: blueviolet;
    border: none;
     display: table;
    margin: 0 auto;
    
}

.zdj25 {
    object-fit: cover;
    width: 100%;
}

.wrapper {
    padding: 0px;
    
    margin-left: auto;
    margin-right: auto;
}

.kont3-1 {
    background-image: url(img/cup2.jpg);
    background-size: cover;
    border-right: 2px solid black;
    
}

.kont4 {
    margin-left: 0;
    margin-right: 0;
    padding: 0px;
    
}

.jubutton3 {
    
    display: table;
    margin: 0 auto;
    margin-top: 50%;
    margin-bottom: 10%;
     width: 25%;
    border: 2px solid white;
    border-radius: 0px;
    background:none;
    font-size: 1.5em;
        font-family: 'Lato', sans-serif;
}

.jubutton3:hover
{
   background: none;
    color: black;
    border: 2px solid black;
}

.kont3-2 {
    text-align: center;
    padding: 50px;
}

.kont3-2 ul li
{
    list-style-type: none;
}


.kont76 {
    height: 100%;
    background-color: #dedede;
    width: 100%;
    border-bottom: 5px solid black;
    padding: 50px;
}
